# Set the disk CHS geometry. The following values should work on all
# HDDs and sets the cylinder size to 1 MiB
# Although the usual value for sectors_per_trk is 63, here is it
# set to 32 to allow for a convenient cylinder size of 1 MiB
[heads=64]
[sectors_per_track=32]
[sector_size=512]

# The lines above create a 1 MiB cylinder size and the following line
# sets the corresponding total disk image size to 602 MiB. Adjust as necessary
#   0 -   1  raw partition (QNX IPL)
#   2 - 201  DOS partition (IFS boot images)
# 202 - 601  QNX partition (QNX6 File system)
[start_at_cylinder=0]

#
# ***CYLINDERS MODIFIED BY BUILD
#
# [cylinders=1370]
[cylinders=5700]

# List the partitions and provide the image files to use. diskimage
# re-sizes the partition automatically to fit the image file, if one is provided
# Specify the partition information using the MBR format
[partition=1 type=12 boot=true]  "part_dos_boot.img"
[partition=2 type=179]           "part_qnx_data.img"
